.venv/
.env
__pycache__/
.ipynb_checkpoints/

*.ipynb
*.tif
*.geojson
*.json
*.xml
*.csv
*.zip
*.nc
*.kmz
*.bin
*.bufr4
*.grib2
*.idx

*.aux.xml
*.log
.DS_Store
.idea/
*.share

geodb/
project_results/
gigaspatial/
test_files/
test_spcs_job.sql
logs_54484061307/
