.venv/
.env
__pycache__/
.ipynb_checkpoints/

*.ipynb
*.tif
*.geojson
*.json
*.xml
*.csv
*.zip
*.nc
*.kmz
*.bin
*.bufr4
*.grib2
*.idx

*.aux.xml
*.log
.DS_Store
.idea/
*.share
.claude/
CLAUDE.md

!custom_data/examples/*.csv
!custom_data/templates/*.csv

geodb/
scripts
project_results/
test_files/
test_spcs_job.sql
logs_54484061307/
download_tracks.py
snowflake/data_sharing/
download_tc_tracks.py
test-scripts/
snowflake/COST_ESTIMATION.md
snowflake/deploy_to_spcs.sh